---
import BlogLayout from '../../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  
  return posts.map(post => ({
    params: { slug: post.slug }, 
    props: { post },
  }));
}

const { post } = Astro.props;

const { Content } = await post.render();
---

<BlogLayout title={post.data.title} isPostPage={true}>
  <article class="p-4 md:p-10 w-full md:max-w-3/4 mx-auto">
    <h1 class="text-4xl font-bold mb-2">{post.data.title}</h1>
    <p class="text-lg text-neutral-500 mb-8">
        {post.data.pubDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
    </p>
    
    <Content />

  </article>
</BlogLayout>
