---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from "astro:content";
import ArrowCard from "../../components/ArrowCard.astro";
import Container from "../../components/Container.astro";

const blogPosts = (await getCollection('blog'))
    .filter(post => !post.data.draft && post.data.lang === 'en')
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Blog">
  <Container>
    <div class="space-y-10">
      <div class="font-semibold text-black dark:text-white text-xl animate">
        Blog
      </div>
      <ul class="flex flex-col gap-4 animate font-inter">
        {
          blogPosts.map((post) => (
            <li>
              <ArrowCard entry={post}/>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</Layout>