---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from "astro:content";
import ArrowCard from "../../components/ArrowCard.astro";
import Container from "../../components/Container.astro";

const blogPosts = (await getCollection('blog'))
    .filter(post => !post.data.draft && post.data.lang === 'en')
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Blog">
  <Container>
    <div class="stack">
      <div class="frame p-5 space-y-2">
        <div class="caption">Articles</div>
        <div class="text-2xl font-semibold tracking-tight">Blog</div>
      </div>
      <ul class="frame list-none p-0 m-0 divide-y divide-border">
        {
          blogPosts.map((post) => (
            <li>
              <ArrowCard entry={post}/>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</Layout>
