---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Homepage">
	<div class="p-10">
		<h1 class="text-2xl font-bold">Furkancan Okal</h1>
		<p class="mt-4 text-xl text-neutral-500">Developer</p>
	</div>
</Layout>
