---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Container from "../components/Container.astro";

const projects = await getCollection('project');
---

<Layout title="Projects">
  <Container>
    <div class="stack">
      <div class="frame p-5 space-y-2">
        <div class="caption">Builds</div>
        <div class="text-2xl font-semibold tracking-tight">Projects</div>
      </div>
      <div class="tile-grid grid grid-cols-1 md:grid-cols-2 gap-0 md:[&>*:nth-child(2n)]:border-l md:[&>*:nth-child(2n)]:border-border">
        {projects.map(project => (
            <ProjectCard project={project} />
        ))}
      </div>
    </div>
  </Container>
</Layout>
