---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"project">;
}

const { entry } = Astro.props;
---

<a href={`/${entry.collection}/${entry.slug}`} class="group flex flex-col justify-between py-4 px-6 hover:bg-muted transition-colors duration-300 ease-in-out">
  <div class="flex flex-col flex-1">
    <div class="text-base font-semibold tracking-tight">
      {entry.data.title}
    </div>
    <div class="text-sm text-muted-foreground line-clamp-2">
      {entry.data.description}
    </div>
  </div>
</a>
