---
type Props = {
  href: string;
}

const { href } = Astro.props;
---
 
<a href={href} class="group inline-flex items-center gap-2 text-xs uppercase tracking-[0.3em] font-mono text-muted-foreground hover:text-foreground transition-colors">
  <span class="text-sm text-muted-foreground group-hover:text-foreground transition-colors">
    ←
  </span>
  <span class="text-xs">
    <slot/>
  </span>
</a>
