---
import { cn } from "../lib/utils";
import { Icon } from "astro-icon/components";
const {
    href,
    target,
    text,
    isActive = false,
    iconName,
    class: className,
} = Astro.props;
---

<a
    href={href}
    target={target}
    class={cn(
        "p-2 rounded-lg transition-colors flex gap-2",
        isActive ? "bg-neutral-950 text-white" : "hover:bg-neutral-200",
        className,
    )}
>
    {iconName && <Icon name={iconName} class="size-5 shrink-0" />}
    <span>{text}</span>
</a>
