---
import { Icon } from 'astro-icon/components'
const {href, target ,text, isActive = false, iconName} = Astro.props;
---

<a 
    href={href} 
    target={target}
    class:list={[
        "p-2 rounded-lg transition-colors flex gap-2",
        {
            "bg-neutral-950 text-white": isActive,
            "hover:bg-neutral-200": !isActive
        }
    ]}
>
    {iconName && <Icon name={iconName} class="size-5 shrink-0" />}
    <span>{text}</span>
</a>