---
import Layout from '../../layouts/Layout.astro';
import QuoteCard from '../../components/QuoteCard.astro';
import { getCollection } from "astro:content";
import Container from '../../components/Container.astro';

const quotes = (await getCollection('commonplace'))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()); // Sort by pubDate
---

<Layout title="Commonplace">
    <Container>
        <div class="space-y-10">
            <div class="font-semibold text-black dark:text-white text-xl animate">
                Commonplace
            </div>
            <p class="text-lg text-muted-foreground max-w-3xl animate">A collection of quotes, passages, and ideas from books, people, and my own thoughts.</p>
            <div class="grid grid-cols-1 gap-8 animate">
                {quotes.map(quote => (
                    <QuoteCard quote={quote} />
                ))}
            </div>
        </div>
    </Container>
</Layout>
