--- 
const {title} = Astro.props;
import '../styles/global.css'
import Button from '../components/Button.astro';

const currentPath = Astro.url.pathname;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="flex h-screen">
			<nav class="overflow-y-auto w-64 shrink-0 border-neutral-200 border-r flex flex-col p-2 bg-neutral-50">
				<h1 class="text-4xl font-bold mb-8 mt-4 ml-2"><a href="/">Fuxuras</a></h1>
				
				<div class="flex flex-col gap-1">
					<Button href="/" text="Homepage" isActive={currentPath === '/'} iconName="heroicons:home"/>
					<Button href="/biography" text="Biography" isActive={currentPath.startsWith('/biography')} iconName="heroicons:user" />
					<Button href="/blog" text="Blog" isActive={currentPath.startsWith('/blog')} iconName="heroicons:pencil-square" />
					<Button href="/projects" text="Projects" isActive={currentPath.startsWith('/projects')} iconName="heroicons:code-bracket" />
					<Button href="/commonplace" text="Commonplace" isActive={currentPath.startsWith('/commonplace')} iconName="heroicons:bookmark" />
				</div>

				<div class="mt-5 border-t border-neutral-200 pt-4">
					<div class="flex flex-col gap-1">
						<Button href="https://github.com/fuxuras" target="_blank" text="GitHub" iconName="simple-icons:github" />
						<Button href="https://twitter.com/fuxuras" target="_blank" text="Twitter" iconName="simple-icons:x" />
						<Button href="https://www.linkedin.com/in/furkancan-okal-5504382b8/" target="_blank" text="LinkedIn" iconName="simple-icons:linkedin"/>
					</div>
				</div>
			</nav>
			<main class="overflow-y-auto flex-1">
				<slot />
			</main>
		</div>
	</body>
</html>